/CleanyNextJS/.next/
/CleanyNextJS/node_modules/
/CleanyDjango/users/migrations/
/CleanyDjango/api/migrations/
/CleanyDjango/db.sqlite3
/CleanyDjango/venv/
/CleanyNextJS/.env.local
/CleanyDjango/.env
.idea/
.vscode/
/CleanyDjango/static/
/CleanyDjango/CleaningDjango/.settings.py.swp
/CleanyNextJS/yarn-error.log
/CleanyDjango/env/
/CleanyNextJS/package-lock.json
